# MSA 2025 Phase 2 - Part 1

In [6]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Find all variables and understand them

In [7]:
# Filepaths for W store and X store datasets
x_filepath = '/workspaces/2025-Phase-2/data-science/1. Analysis and Preprocessing/datasets/X store sales/'
x_sales = x_filepath + 'store_sales.csv'

w_filepath ='/workspaces/2025-Phase-2/data-science/1. Analysis and Preprocessing/datasets/W store sales/'
w_sales = w_filepath + 'sales.csv'
w_stores = w_filepath + 'stores.csv'
w_features = w_filepath + 'features.csv'

df_x = pd.read_csv(x_sales, encoding='latin1')
df_x.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
3,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
4,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092

In [12]:
print("-- Raw X Rows and Columns Info --")
print(df_x.info())

-- Raw X Rows and Columns Info --
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         2121 non-null   int64
 1   Order ID       2121 non-null   object
 2   Order Date     2121 non-null   object
 3   Ship Date      2121 non-null   object
 4   Ship Mode      2121 non-null   object
 5   Customer ID    2121 non-null   object
 6   Customer Name  2121 non-null   object
 7   Segment        2121 non-null   object
 8   Country        2121 non-null   object
 9   City           2121 non-null   object
 10  State          2121 non-null   object
 11  Postal Code    2121 non-null   int64
 12  Region         2121 non-null   object
 13  Product ID     2121 non-null   object
 14  Category       2121 non-null   object
 15  Sub-Category   2121 non-null   object
 16  Product Name   2121 non-null   object
 17  Sales          2121 non-null   float64
 18  Quantity       2121 non-null   int64
 19  Discount       2121 non-null   float64
 20  Profit         2121 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 348.1+ KB
None

In [8]:
df_w_sales = pd.read_csv(w_sales)
df_w_stores = pd.read_csv(w_stores)
df_w_features = pd.read_csv(w_features)

# Display the first few rows of each DataFrame
print("W Store Sales DataFrame:")
print(df_w_sales.head())
print("\nW Store Stores DataFrame:")
print(df_w_stores.head())
print("\nW Store Features DataFrame:")
print(df_w_features.head())

W Store Sales DataFrame:
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

W Store Stores DataFrame:
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

W Store Features DataFrame:
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  2010-02-05        42.31       2.572        NaN        NaN
1      1  2010-02-12        38.51       2.548        NaN        NaN
2      1  2010-02-19        39.93       2.514        NaN        NaN
3      1  2010-02-26        46.63       2.561        NaN        NaN
4      1  2010-03-05        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False

In [ ]:
print("-- Raw W Rows and Columns Info --")
print("W Store Sales DataFrame:")
print(df_w_sales.info())
print("\nW Store Stores DataFrame:")
print(df_w_stores.info())
print("\nW Store Features DataFrame:")
print(df_w_features.info())

-- Raw Rows and Columns Info --
W Store Sales DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB
None

W Store Stores DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB
None

W Store Features DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB
None

In [9]:
# merge W store sales with stores and features
df_w_merged = df_w_sales.merge(df_w_features, on=['Store', 'Date'], how='left') \
                        #  .merge(df_w_features, on='Date', how='left')

# Display the first few rows of the merged DataFrame
print("\nMerged W Store DataFrame:")
print(df_w_merged.head())

Merged W Store DataFrame:
   Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
0      1     1  2010-02-05      24924.50        False        42.31
1      1     1  2010-02-12      46039.49         True        38.51
2      1     1  2010-02-19      41595.55        False        39.93
3      1     1  2010-02-26      19403.54        False        46.63
4      1     1  2010-03-05      21827.90        False        46.50

   Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0       2.572        NaN        NaN        NaN        NaN        NaN
1       2.548        NaN        NaN        NaN        NaN        NaN
2       2.514        NaN        NaN        NaN        NaN        NaN
3       2.561        NaN        NaN        NaN        NaN        NaN
4       2.625        NaN        NaN        NaN        NaN        NaN

          CPI  Unemployment  IsHoliday_y
0  211.096358         8.106        False
1  211.242170         8.106         True
2  211.289143         8.106        False
3  211.319643         8.106        False
4  211.350143         8.106        False

In [13]:
print(df_w_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
dtypes: bool(2), float64(10), int64(2), object(1)
memory usage: 42.6+ MB
None

In [14]:
# merge W store sales with stores
df_w_final = df_w_merged.merge(df_w_stores, on='Store', how='left')
# Display the first few rows of the final merged DataFrame
print("\nFinal Merged W Store DataFrame:")
print(df_w_final.head())

Final Merged W Store DataFrame:
   Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
0      1     1  2010-02-05      24924.50        False        42.31
1      1     1  2010-02-12      46039.49         True        38.51
2      1     1  2010-02-19      41595.55        False        39.93
3      1     1  2010-02-26      19403.54        False        46.63
4      1     1  2010-03-05      21827.90        False        46.50

   Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0       2.572        NaN        NaN        NaN        NaN        NaN
1       2.548        NaN        NaN        NaN        NaN        NaN
2       2.514        NaN        NaN        NaN        NaN        NaN
3       2.561        NaN        NaN        NaN        NaN        NaN
4       2.625        NaN        NaN        NaN        NaN        NaN

          CPI  Unemployment  IsHoliday_y Type    Size
0  211.096358         8.106        False    A  151315
1  211.242170         8.106         True    A  151315
2  211.289143         8.106        False    A  151315
3  211.319643         8.106        False    A  151315
4  211.350143         8.106        False    A  151315

In [15]:
print(df_w_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
dtypes: bool(2), float64(10), int64(3), object(2)
memory usage: 49.0+ MB
None

## 2. Clean data

In [3]:
#

## 3. Visualise data

In [4]:
#

## 4. Identify correlated variables

In [5]:
#

## 5. Summary